#hero3{
    background-image: url(../imagenes/Ca7riel_Opera_1.jpg);
    width: 100%;  
    height: 700px;
    background-position: top;
}

.form{
    @include flexbox(row, space-between, none);
    padding: 15px;
    #formulario{
        @include flexbox (column, none, none);
        width: 50%;
        input{
            padding: 5px;
            margin: 5px;
        }
        textarea{
            padding: 5px;
            margin: 5px;
        }
    }
}






