footer{
    width: 100%;
    grid-area: footer;
    background-color: map-get($colores, terciario);
    font-size: 15px;
    @include flexbox(row, space-between, center);
    .copiright{
        font-size: 15px;
        padding-left: 15px;
        margin: 0;
    }
    .redes{
        list-style-type: none; 
        margin: 0;  
        a{
            text-decoration: none; 
            color: map-get($colores, primario);
        }
    }
    .whatsapp{
        padding: 15px;
    }
}







