header{ 
    width: 100%;
    grid-area: header;
    background-color: map-get($colores, terciario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    align-items: center;
    z-index: 100;
    .header__titulo{
        padding: 1px 10px;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .header__menu{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding: 0px 15px;
        color: map-get($colores, primario);
        a{
            padding: 0px 15px;
            color: map-get($colores, primario);
            text-decoration: none;
        }
    }
}






