header{ 
    width: 100%;
    grid-area: header;
    background-color: map-get($colores, terciario);
    @include flexbox(row, space-between, center);
    padding: 15px;
    position: fixed;
    z-index: 100;
    .header__titulo{
        padding: 1px 10px;
        a{
            color: white;
            text-decoration: none;
        }
    }
    .header__menu{
        list-style-type: none;
        @include flexbox(row, none, none);
        padding: 0px 15px;
        color: map-get($colores, primario);
        a{
            padding: 0px 15px;
            color: map-get($colores, primario);
            text-decoration: none;
        }
    }
}






