main{
    width: 100%;
    grid-area: main;
    #hero{
        background-image: url(../imagenes/Wos_Estudiantes_44.jpg);
        width: 100%;  
        height: 700px;
        background-position: 50% 95%;
    }
    #main__presentacion{
        h2{
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0;
        }
        background-color: slategrey;
        color: white;
        @include flexbox(row, space-around, center);
        padding: 25px;
    }
    .secciones{
        @include flexbox(column, space-around, center);
        padding-top: 80px;
        .fondo__tarjeta{
            background-color: map-get($colores, secundario);
            border: 2px solid map-get($colores, primario);
            border-radius: 3px;
            width: 720px;
            height: 525px;
            position: relative;
            @include flexbox(column, center, none);
            margin-bottom: 80px;
            .tarjeta{
                @include flexbox(row, none,none);
                width: 900px;
                height: 400px;
                background-color: map-get($colores, secundario);
                position: absolute;
                left: -190px;
                img{
                    border: 1px solid map-get($colores, primario);
                }
                .tarjeta__contenido{
                    @include flexbox(column, center, start);
                    text-align:start;
                    padding-left: 60px;
                    h2{
                        color: black;
                        font-size: 32;
                    }
                    p{
                        margin: 10px 0px 25px 0px;
                        color: black;
                        font-size: 20;
                    }
                    a{
                        color: map-get($colores, primario);
                        background-color: map-get($colores, terciario);
                        border-radius: 4px;
                        padding: 8px 20px;
                        text-decoration: none;
                        border: 1px solid black;
                        font-size: 20;
                        &:hover{
                            color: map-get($colores, secundario);
                            border: 1px solid white;
                        }   
                    }                    
                } 
            }
        }
    }
    .marcas{
        padding-top: 25px;
        grid-area: nav;
        background-color: map-get($colores, secundario);
        width: 100%;
        height: 60px;
        .marcas__lista{
            @include flexbox(row, space-evenly, center);
            li{
                list-style-type: none;           
            }       
        }
    }
}


















