nav{
    padding-top: 25px;
    grid-area: nav;
    background-color: map-get($colores, secundario);
    width: 100%;
    .marcas{
        @include flexbox(row, space-evenly, center);
        li{
            list-style-type: none;           
        }       
    }
}