//RESET
*{
    font-family: 'Poppins' !important; 
    margin: 0;
    padding: 0;
} 

//GRID
body{
    background-color: #1A1423;
    color: map-get($colores, primario);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px auto 120px;
    grid-template-areas: 
        "header header header header header header"
        "main main main main main main" 
        "footer footer footer footer footer footer" 
}

// Mixins
@mixin flexbox($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
